<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:name="fr.kazalox.android.gameclockdeluxe.App"
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/app_name"
            android:name="fr.kazalox.android.gameclockdeluxe.activities.ChessClockActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_settings"
            android:name="fr.kazalox.android.gameclockdeluxe.activities.SettingsActivity"
            android:exported="false"/>
        <activity
            android:name="fr.kazalox.android.gameclockdeluxe.activities.PrefActivity"
            android:exported="false"/>
    </application>
    <supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="false"/>
</manifest>
